<container>
  <row class="footer">
    <columns class="footer_columns">
      <row>
        <columns>
          <p>If you no longer wish to receive our emails, click the link below:</p>
        </columns>
      </row>
      <row>
        <columns>
          <a href="#" class="unsubscribe">Unsubscribe</a>
        </columns>
      </row>
      <row>
        <columns small="9" class="address">
          <p>DivvyHQ // 402 Washington St. Suite 5 Kansas City, Missouri 64111 United States</p>
        </columns>
        <columns small="3" class="phn_number">
          <a href="#">(877)573-4889</a>
        </columns>
      </row>
    </columns>
  </row>
</container>